<!DOCTYPE html>
<html>
<head>
	<title>Clubbo</title>
     <!--bootstrap-->
	 <link rel="stylesheet" href="../assets/lib/bootstrap.min.css" />
     <!-- font-awesome icon -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
     <!--main.css-->
     <link rel="stylesheet" type="text/css" href="../assets/css/allClubView.css" />
     <!--google font-->
     <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Tajawal:700" rel="stylesheet">
     </head>
<body>

<!--navbar-->	
 <header> 
  <nav class="navbar navbar-inverse no-margin navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <a class="navbar-brand" href="#">Clubbo</a>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Discover <i class="fas fa-search"></i></a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><a href="#about">Login <i class="fas fa-sign-in-alt"></i></a></li>
       <li><a href="#contact">Sign up <i class="fas fa-user-plus"></i></a></li>
     </ul>
    </div>
  </nav>
 </header>

<section class="bbc">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12 ht500">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12 ht161"></div>
				<div class="col-md-8 col-sm-8 col-xs-12 ht500 side">
				   <div class="ht161"></div>
				   <div class="input-group slide">
				      <input type="text" class="form-control" placeholder="Search for pubs">
				   </div>
				   <h4 class="slide"><strong>Filters</strong></h4>
				   <hr>
				   <p class="slide"><strong>Cost for 2:-</strong></p>
				   <div class="radio glide">
						  <label><input type="radio" name="optradio">Rs 0 - Rs 500</label>
					</div>
					<div class="radio glide">
						 <label><input type="radio" name="optradio">Rs 500 - Rs 1000</label>
					</div>
					<div class="radio glide">
						 <label><input type="radio" name="optradio">Rs 1000 and above</label>
				    </div>
				    <hr>
				    <p class="slide"><strong>Ratings</strong></p>
				    <div class="radio glide">
						  <label><input type="radio" name="optradio">2+</label>
					</div>
					<div class="radio glide">
						 <label><input type="radio" name="optradio">3+</label>
					</div>
					<div class="radio glide">
						 <label><input type="radio" name="optradio">4+</label>
				    </div>
				  </div>
				<div class="col-md-1 col-sm-1 col-xs-12 ht500"></div>
			</div>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<h1 class="pubs"><strong>Best Pubs in Mysore:-</strong></h1>
			<br><br>

            <div class="event">
			<div class="row ht40">
				<div class="col-md-4 col-sm-12 col-xs-12 ht40 pubimg"></div>
				<div class="col-md-8 col-sm-12 col-xs-12 ht40 pubdet">
						<h3 class="pubnm">Fluids Lounge</h3>
						<p class="lct"><strong>2nd floor, Kalidasa Rd, Vani Vilas Mohalla, Mysuru, Karnataka 570002</strong></p>
						<p class="st"><span class="cst"><strong>Cost for two:</strong> </span> <strong>Rs 1400/- </strong><span class="cst">(approx)</span> | <a href=#>view menu</a></p>
						<p class="st"><span class="cst"><strong>Ratings -</strong></span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
						<div class="btn btn-primary">View Details</div>
				</div>
			</div>
			</div>

			<div class="event">
			<div class="row ht40">
				<div class="col-md-4 col-sm-12 col-xs-12 ht40 pubimg2"></div>
				<div class="col-md-8 col-sm-12 col-xs-12 ht40 pubdet">
						<h3 class="pubnm">Venom Lounge Bar</h3>
						<p class="lct"><strong>986/624, Mysore Hunsur Road, Opp Renault Car Showroom, Mysuru, Karnataka 570017</strong></p>
						<p class="st"><span class="cst"><strong>Cost for two:</strong> </span> <strong>Rs 1400/- </strong><span class="cst">(approx)</span> | <a href=#>view menu</a></p>
						<p class="st"><span class="cst"><strong>Ratings -</strong></span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
						<div class="btn btn-primary">View Details</div>
				</div>
			</div>
			</div>

			<div class="event">
			<div class="row ht40">
				<div class="col-md-4 col-sm-12 col-xs-12 ht40 pubimg3"></div>
				<div class="col-md-8 col-sm-12 col-xs-12 ht40 pubdet">
						<h3 class="pubnm">The Road</h3>
						<p class="lct"><strong>Shop No. 3, Nethra Nivas, Nazarbad Main Road, Doora, Mysuru, Karnataka 570010</strong></p>
						<p class="st"><span class="cst"><strong>Cost for two:</strong> </span> <strong>Rs 1400/- </strong><span class="cst">(approx)</span> | <a href=#>view menu</a></p>
						<p class="st"><span class="cst"><strong>Ratings -</strong></span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
						<div class="btn btn-primary">View Details</div>
				</div>
			</div>
			</div>

		</div>
		<div class="col-md-1 col-sm-1 col-xs-12 ht0"></div>
	</div>
</section>

<br>

<!--footer-->
  <section class="ht450 foot">
  	 <div class="row ht150">
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht20 footlf">Clubbo</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12 ht160 footer">
  	 		<div class="row ht160">
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>My Account</strong></li>
  	 					<li>Dashboard</li>
  	 					<li>My bookings</li>
  	 				</ul>
  	 			</div>
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>Help</strong></li>
  	 					<li>Privacy Policy</li>
  	 					<li>FAQs</li>
  	 				</ul>
  	 			</div>
  	 		</div>
  	 	</div>
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht0"></div>
  	 </div>
  </section>
  
  <!--jQuery-->
  <script type="text/javascript" src="../assets/lib/jquery.min.js"></script>
  <!--bootstrap js -->      
  <script type="text/javascript" src="../assets/lib/bootstrap.min.js"></script>
       
</body>
</html>