<!DOCTYPE html>
<html>
<head>
	<title>Clubbo</title>
     <!--bootstrap-->
	 <link rel="stylesheet" href="../assets/lib/bootstrap.min.css" />
     <!-- font-awesome icon -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
     <!--main.css-->
     <link rel="stylesheet" type="text/css" href="../assets/css/landing.css" />
     <!--google font-->
     <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
     </head>
<body>

<!--navbar-->	
 <header> 
  <nav class="navbar navbar-inverse no-margin  navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <a class="navbar-brand" href="#">Clubbo</a>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Discover <i class="fas fa-search"></i></a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
     <% if(!currentUser){ %>        
           <li><a href="/createPub">Add a pub <i class="fa fa-plus-circle"></i></a></li>
           <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
           <li><a href="/signup">Sign up <i class="fas fa-user-plus"></i></a></li>
        <% }else{ %>
           <li><a href="#">welcome <%=currentUser.name%> <i class="fas fa-sign-in-alt"></i></a></li>
           <li><a href="/createPub">Add a pub <i class="fa fa-plus-circle"></i></a></li>
           <li><a href="/logout">Logout <i class="fas fa-sign-in-alt"></i></a></li>
         <% } %> 
     </ul>
    </div>
  </nav>
 </header>


<!--landing slide-->
 <section id="home" class="position-relative cover-background tz-builder-bg-image border-none bg-img-one customHome bbc">
             <% if(error && error.length>0){%> 
             <div class="container">
                  <div class="alert alert-danger" role="alert">
                      <%=error%>
                  </div> 
             </div>
    <% }%>
     <% if(success && success.length>0){%>
             <div class="container">
                  <div class="alert alert-success" role="alert">
                      <%=success%>
                  </div> 
             </div>
    <% }%>         
            <div class="container one-sixth-screen position-relative">
                <div class="row">
                    <div class="slider-typography text-center xs-position-absolute">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="col-md-12 col-sm-12 col-xs-12 center-col text-center pad-230px">
                                	<!--<h1>Clubbo</h1>
                                	<p>make clubbing easier</p>-->
                                	<h1 id="cont">Make clubbing easier</h1>
                                	<div class="btn btn-info"><a href="/multi">view pubs</a></div>
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
  </section>
  
<div>
    <section id="about" class="ht320 row jumbotron text-center">
                         <h1>Want a great night out?</h1>
                           <p class="col-sm-12 col-md-12 col-xs-12">
	                            Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled.
	                       </p>
    </section>

   <section id="images" class="text-center">
   	   	    <div class="row">
			    <div class="col-sm-3 col-md-3 col-xs-12 center-col ux1"> 
			    </div>
			    <div class="col-sm-3 col-md-3 col-xs-12 center-col">
			        <div class="row">
			           <h1 class="grt text-center">Great Venues</h1>	
			        </div>	
			    	<div class="row">
			    	   <p class="grt1 text-center">we are committed to provide a service by which you can easily book tickets to all the great pubs in your city.</p>	
			    	</div>
			    	<div class="row">
			    	   <div class="btn btn-danger">View</div>
			    	</div>   	
			    </div>
			    <div class="col-sm-3 col-md-3 col-xs-12 center-col ux3">
			    </div>
			    <div class="col-sm-3 col-md-3 col-xs-12 center-col">
			       <div class="row">
			    	    <h1 class="rating text-center">User based rating system</h1>
			       </div>
			       <div class="row">	    
			    	       <p class="rating1 text-center">
			    	               we give users full access to review a venue as the user  visits it.
			    	       </p>
                   </div>
                   <div class="row">
			    	 <div class="btn btn-danger">Review</div>
                   </div>
			    </div>
            </div>     
   </section>
 
 </div>   

    <section id="home" class="position-relative cover-background border-none ht320 htimg">
                                <div class="col-md-12 col-sm-12 col-xs-12 center-col text-center pad-100px">
                                	<h1 class="city">Explore your city's night life</h1>
                                	<hr class="explr">
                                </div>
    </section>

  <section>
  	    <div class="row">
  	    	<h1 class="col-sm-12 col-md-12 col-xs-12 text-center think">What people think about us?</h1>
  	    </div>
   	   	    <div class="row">
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			       <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle1 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			       </div>
			       <div class="row">
			       	 <h1 class="reviewHead">Souhik</h1>
			       </div>
			       <div class="row">
			       	 <p class="reviewBody">
			       	    clubbo is a great initiative,now i have the best pubs in my city just one click away,thanks clubbo.
			       	 </p>
			       </div>
			       <div class="row iconz">
			       	 <i class="fas fa-quote-right"></i>
			       </div> 	 
			    </div>
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			         <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle2 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			       </div>
			       <div class="row">
			       	 <h1 class="reviewHead">Sheetal</h1>
			       </div>
			       <div class="row">
			       	 <p class="reviewBody">
			       	    Clubbo's UI is amazing ,its so easy to choose the pubs compare them and i get to know about the best pubs in my locality,simply awesome
			       	 </p>
			       </div> 
			       <div class="row iconz">
			       	 <i class="fas fa-quote-right"></i>
			       </div> 	
			    </div>
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			         <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle3 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			         </div>
			         <div class="row">
			       	   <h1 class="reviewHead">Ayush</h1>
			         </div>
			         <div class="row">
			       	    <p class="reviewBody">
			       	      Recently used clubbo,great experience crisp UI great features ,loved it ,best for party animals like me.
			       	    </p>
			         </div>
			         <div class="row iconz">
			       	 <i class="fas fa-quote-right"></i>
			       </div> 	  	
			    </div>
            </div>     
  </section>


  <section class="ht55"></section>

  <section>
  	 <div class="row">
  	 	<div class="col-sm-6 col-xs-6 text-center ht400 rt">
  	 		<img src="../assets/images/mob.png" class="rtt">
  	 	</div>
  	 	<div class="col-sm-6 col-xs-6 text-center ht400 lf">
  	 		<div class="row ht100"></div>
  	 		<div class="row ht200">
  	 			<h1 class="cl">Clubbo Mobile</h1>
  	 			<p class="dl">coming soon</p>
  	 			<div class="btn btn-info">more details</div>
  	 		</div>
  	 		<div class="row ht100">
  	 			<!--<div class="col-sm-6 col-xs-6">
  	 				<img src="gp.png" class="gp">
  	 			</div>
  	 			<div class="col-sm-6 col-xs-6 ios">
  	 				<img src="ap.png" class="ios">
  	 			</div>-->
  	 		</div>
  	 	</div>
  	 </div>
  </section>

 <section class="ht55"></section>
  <section>
  	    <div class="row">
  	    	<h1 class="col-sm-12 col-xs-12 text-center think">Meet The Team</h1>
  	    </div>
   	   	    <div class="row">
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			       <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle4 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			       </div>
			       <div class="row">
			       	 <h1 class="teamHead">Nitin Bhat</h1>
			       </div>
			       <div class="row iconz">
			       	 <i class="fab fa-linkedin-in"></i>
			        </div> 
			       <div class="row">
			       	 <p class="teamBody">
			       	   CEO,Founder ,Full-stack Web-developer,Product Manager
			       	 </p>
			       </div>
			    </div>
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			         <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle5 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			       </div>
			       <div class="row">
			       	 <h1 class="teamHead">Tanishq Agrawal</h1>
			       </div>
			       <div class="row iconz">
			       	 <i class="fab fa-linkedin-in"></i>
			        </div> 
			       <div class="row">
			       	 <p class="teamBody">
			       	    CFO,Founder,Business Analyst,Human Resources
			       	 </p>
			       </div> 	
			    </div>
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			         <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle6 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			         </div>
			         <div class="row">
			       	   <h1 class="teamHead">Swastik Katal</h1>
			         </div>
			         <div class="row iconz">
			       	 <i class="fab fa-linkedin-in"></i>
			        </div> 	  	
			         <div class="row">
			       	    <p class="teamBody">
			       	      COO,Founder,Customer Relations,Sales,Marketing
			       	    </p>
			         </div>
			    </div>
            </div>     
  </section>

  <section class="ht450 foot">
  	 <div class="row ht150">
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht20 footlf">Clubbo</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12 ht160 footer">
  	 		<div class="row ht160">
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>My Account</strong></li>
  	 					<li>Dashboard</li>
  	 					<li>My bookings</li>
  	 				</ul>
  	 			</div>
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>Help</strong></li>
  	 					<li>Privacy Policy</li>
  	 					<li>FAQs</li>
  	 				</ul>
  	 			</div>
  	 		</div>
  	 	</div>
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht0"></div>
  	 </div>
  </section>
  
  <!--jQuery-->
  <script type="text/javascript" src="../assets/lib/jquery.min.js"></script>
  <!--bootstrap js -->      
  <script type="text/javascript" src="../assets/lib/bootstrap.min.js"></script>
       
</body>
</html>