<!DOCTYPE html>
<html>
<head>
	<title>Clubbo</title>
     <!--bootstrap-->
	 <link rel="stylesheet" href="../assets/lib/bootstrap.min.css" />
     <!-- font-awesome icon -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
     <!--main.css-->
     <link rel="stylesheet" type="text/css" href="../assets/css/signup.css" />
     <!--google font-->
     <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
     </head>
<body>

<!--navbar-->	
 <header> 
  <nav class="navbar navbar-inverse no-margin navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <a class="navbar-brand" href="/landing">Clubbo</a>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Discover <i class="fas fa-search"></i></a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <li><a href="/createPub">Add a pub <i class="fa fa-plus-circle"></i></a></li>
       <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
       <li><a href="#">Sign up <i class="fas fa-user-plus"></i></a></li>
     </ul>
    </div>
  </nav>
 </header>
 

 <section class="bbc">
            <% if(error && error.length>0){%> 
             <div class="container">
                  <div class="alert alert-danger" role="alert">
                      <%=error%>
                  </div> 
             </div>
    <% }%>
     <% if(success && success.length>0){%>
             <div class="container">
                  <div class="alert alert-success" role="alert">
                      <%=success%>
                  </div> 
             </div>
    <% }%>        

  	       <div class="row">
			    <div class="col-sm-6 col-xs-12 center-col ht900 lp">
			       <div class="row lg">
                        <h1>SignUp</h1>
                        <form action="/register" method="POST" enctype="multipart/form-data">
							  <div class="form-group">
							  	<div class="form-group">
							    <label for="name">Full Name</label>
							    <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter your full name">
							  </div>
							    <label for="email">Email address</label>
							    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"  placeholder="Enter email">
							  </div>
                <br>
                <div>
                  <label for="mode">Select Mode</label>
                  <label class="radio-inline">
                    <input type="radio" name="mode" value = "user" checked>User Mode
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="mode" value="owner">Owner Mode
                  </label>
                </div>
                <br>
							  <div class="form-group">
							    <label for="contact">Phone Number</label>
							    <input type="tel" class="form-control" name="contact" id="contact" placeholder="Enter your Phone Number">
							  </div>
                <div class="form-group">
                    <label for="image">Upload Profile Picture</label>
                    <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
               </div>
							  <div class="form-group">
							    <label for="password">Password</label>
							    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
							  </div>
							  <div class="form-group">
							    <label for="confirmPassword">Confirm Password</label>
							    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
							  </div>
							  <div>
							    <p><a href="#">Forgot password?</a></p>
							  </div>
							  <button type="submit" class="btn btn-primary">Submit</button>
							  <br><br>
							  <!-- <p><strong>OR</strong></p>
							  <div class="socialIcons">
							  	 <div class="btn btn-info">Facebook</div>
							     <div class="btn btn-danger">Google</div>
							  </div> -->
                        </form>
			       </div>
			     </div>
			     <div class="col-sm-6 col-xs-12 center-col ht900 lt"></div>    
			</div>       
  </section>

 
  <section class="ht450 foot">
  	 <div class="row ht150">
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht20 footlf">Clubbo</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12 ht160 footer">
  	 		<div class="row ht160">
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>My Account</strong></li>
  	 					<li>Dashboard</li>
  	 					<li>My bookings</li>
  	 				</ul>
  	 			</div>
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>Help</strong></li>
  	 					<li>Privacy Policy</li>
  	 					<li>FAQs</li>
  	 				</ul>
  	 			</div>
  	 		</div>
  	 	</div>
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht0"></div>
  	 </div>
  </section>
  
  <!--jQuery-->
  <script type="text/javascript" src="../assets/lib/jquery.min.js"></script>
  <!--bootstrap js -->      
  <script type="text/javascript" src="../assets/lib/bootstrap.min.js"></script>
       
</body>
</html>