.profiePic{
	height: 56px;
    border-radius: 30px;
}
html{
	height:100%;
}

@media(min-width:60em){html{font-size: 80%}}

body{
	margin:0px;
	background-color: #FAFAFA;
}
.navbar{
	min-height: 80px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-collapse.collapse {
	padding-top:14px;
	padding-right: 30px;
 }

 .navbar-brand{
 	padding-top: 0px;
 	padding-right: 80px;
 	font-family: 'Damion', cursive;
 	font-size:37px;
 }

 @media only screen and (min-width: 768px){
	.navbar-brand{
 	padding-top: 28px;
 	padding-right: 80px;
 	font-family: 'Damion', cursive;
 	font-size:37px;
 }
}

 .navbar-inverse .navbar-brand{
 	color:#fbf5f5;
 }

 .navbar-inverse .navbar-nav>li>a {
    color:#ede3e9;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    text-decoration:none;
    padding-right: 50px;
  }

.fa-user-plus:before {
   padding-left: 10px;
 }
 
.fa-sign-in-alt:before{
   padding-left: 10px;
 }

.fa-search:before {
  padding-left: 10px;
 }


.ht150{
	height:170px;
}

.ht160{
	height: 115px;
}
.ht20{
	height: 55px;
}
.ht0{
	height: 0px;
}
.footer{
	text-align: center;
}

.foot{
  color: white;
  background-color: #333;	
}

.footlf{
	font-size: 38px;
	color: rgba(239, 242, 247,0.87);
	font-family: 'Damion', cursive;
	text-align: center;
	padding-top:15px; 
}

.high{
	list-style: none;
	padding-top: 30px;
	font-size: 12px;
	color:white;
	font-family: 'Nunito', sans-serif;
	text-align: left;
}

.lih{
	font-size: 17px;
	padding-bottom: 8px;
}

.ht900{
	height: 900px;
	padding:0px 0px 0px 0px;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

.ht40{
	height: 240px;
	padding:0px 0px 0px 0px;
}

.newimg{
  height:inherit;
}

.pubimg2{
  background:url('../../assets/images/venom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pubimg3{
  background:url('../../assets/images/road.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pubdet{
  background-color: white;
  padding: 20px 20px 20px 20px;
}

.event{
	box-shadow: : 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
	border-radius: 30px 30px 30px 30px;
}

.ht44{
	height: 44px;
}

.ht161{
	height: 0px;
	background-color: #FAFAFA
}

@media only screen and (min-width: 768px){
	.ht161{
		height: 30px;
		background-color: #FAFAFA
      }
}



.side{
   background-color: white;
}

.slide{
	padding: 15px 15px 15px 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0px;
}

@media only screen and (min-width: 768px){
	.slide{
	padding: 15px 15px 15px 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
}
}

.ht30{
	height: 30px;
}

hr{
	margin: 10px 0px 10px 0px;
}
.ht500{
	height: 0px;
	padding: 0px 0px 0px 0px;
}
@media only screen and (min-width: 768px){
	.ht500{
		height: 560px;
		padding: 0px 0px 0px 0px;
	  }
}

.glide{
   padding: 5px 5px 5px 20px;	
}

.ht162{
	height: 30px;
}


.btn-primary{
	background-color: white;
	border-radius: 0px;
	border-color: #0be064;
	color:#0be064;
}

.pubs{
	padding-top: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}
@media only screen and (min-width: 768px){
	.pubs{
	  font-size:40px;
	}
}

.lct{
	color: #787c82;
	font-size: 10px;
	height:32px;
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 768px){
	.lct{
	  font-size:14px;
	}
}

.pubnm{
	color: #1d2738;
	font-size: 25px;
	font-family: 'Tajawal', sans-serif;
	height:76px;
	margin: 0px 0px 0px 0px;
}
@media only screen and (min-width: 768px){
	.pubnm{
	  font-size:35px;
	}
}

.cst{
	color: #b9b7bf;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

.event{
	padding-bottom: 40px;
}

.fa-star:before {
	color:gold;
  }
.st{
   height:32px;
	margin-bottom: 0px;
}


.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    width: 304px;
 }

@media only screen and (min-width: 768px){
	.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
         width: 200.8px;
     }

} 

.bbc{
	margin-top: 78px;
}   