.profiePic{
	height: 56px;
    border-radius: 30px;
}
html{
	height:100%;
}

body{
	margin:0px;
}
.navbar{
	min-height: 80px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-collapse.collapse {
	padding-top:14px;
	padding-right: 30px;
}

.navbar-brand{
	padding-top: 0px;
	padding-right: 80px;
	font-family: 'Damion', cursive;
	font-size:37px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
}

.think {
	font-size: 45px;
	padding-bottom: 60px;
	padding-left: 200px;
	font-family: 'Nunito', sans-serif;
}

.thinker {
	font-size: 30px;
	padding-bottom: 60px;
	padding-left: 200px;
	font-family: 'Nunito', sans-serif;
}
.navbar-brand-b{
	padding-top: 0px;
	padding-right: 800px;
	padding-left: 800px;
	text-align: center;
	font-family: 'Damion', cursive;
	font-size:80px;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
	color:#B62020;
}

@media only screen and (min-width: 768px){
	.navbar-brand{
		padding-top: 28px;
		padding-right: 80px;
		font-family: 'Damion', cursive;
		font-size:37px;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1);
	}
}

.navbar-inverse .navbar-brand{
	color:#fbf5f5;
}

.navbar-inverse .navbar-nav>li>a {
	color:#ede3e9;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	text-decoration:none;
	padding-right: 50px;
}

.fa-user-plus:before {
	padding-left: 10px;
}

.fa-sign-in-alt:before{
	padding-left: 10px;
}

.fa-search:before {
	padding-left: 10px;
}


.ht500{
	height: 912px;
}

.headd{
	background:url('../../assets/images/lola.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.ht900{
	padding: 0px 0px 0px 0px;
}
.hell{
	background-color: #FAFAFA;
	padding-left: 18px;
	padding-right: 30px;
}

.sell{
	background-color: #FAFAFA;
}

.htCond{
	height: 40px;
	width:80px;
	padding-left: 0px;
	background-color: blue;
	border-color: blue;
}

@media only screen and (min-width: 768px){
	.htCond{
		height: 0px;
		width:0px;
		padding-left: 0px;
		background-color: #FAFAFA;
		border-color: #FAFAFA;

	}
}

.pubnm{
	color: #1d2738;
	font-size: 55px;
	font-family: 'Tajawal', sans-serif;
	padding-left: 18px;
}

.pubadd{
	padding-left: 28px;
	color: #787c82;
	font-size: 12px;
}

.wt{
	height: 30px;
	background-color: white;
}

.fell{
	padding:9px 9px 20px 15px;
}

.kell{
	padding-top: 36px;
}

.avatar{
	background:url('../../assets/images/nitin.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	height:60px;
}

.comm{
	padding-bottom: 40px;
}

.ht129{
	height:280px;
}

.ht139{
	height: 375px;
}

.ht40{
	height: 70px;
}

.men{
	height: 70px;
	width: 90px;
	opacity: 0.8;
	padding-left: 18px;
}

form{
	display: inline;
}

.ht60{
	height: 80px;
}

.ht150{
	height:170px;
}

.ht160{
	height: 115px;
}
.ht20{
	height: 55px;
}
.ht0{
	height: 0px;
}
.footer{
	text-align: center;
}

.foot{
	color: white;
	background-color: #333;	
}

.footlf{
	font-size: 38px;
	color: rgba(239, 242, 247,0.87);
	font-family: 'Damion', cursive;
	text-align: center;
	padding-top:15px; 
}

.high{
	list-style: none;
	padding-top: 30px;
	font-size: 12px;
	color:white;
	font-family: 'Nunito', sans-serif;
	text-align: left;
}

.lih{
	font-size: 17px;
	padding-bottom: 8px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.bbc{
	margin-top: 78px;
}

p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-warning{
	background-color: #FAFAFA;
	border-color: orange;
	color: orange;
	border-radius: 0px;
}
.btn-danger{
	background-color: #FAFAFA;
	border-color: red;
	color: red;
	border-radius: 0px;
}

.btn-success{
	background-color: #FAFAFA;
	border-color: green;
	color: green;
	border-radius: 0px;
}

.lell{
	font-family: 'Passion One', cursive;
	color: rgba(12, 29, 45,0.90);
}

.cell{
	color: #787c82;
	font-family: 'Assistant', sans-serif;
}

h5{
	color: black;
	font-family: 'Fira Sans Condensed', sans-serif;
}

.na{
	color: black;
	font-family: 'Fira Sans Condensed', sans-serif;	
}

.highdef{
	font-size: 56px;
	padding-top: 145px;
	text-align: center;
	color: white;
	z-index: 6;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
	font-family: 'Raleway', sans-serif;
}

.hd{
	font-size: 26px;
	padding-top: 5px;
	text-align: center;
	color: white;
	z-index: 6;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
	font-family: 'Raleway', sans-serif;
}


.food{
	padding-left: 18px;
	color:gray;
}

.bar{
	padding-left: 30px;
	color:gray;
}

.ht33{
	height: 600px;
	margin: 150px 100px 30px 80px;
	padding: 35px;
	box-shadow: 1px 1px 1px 2px #888888;
	font-family: 'Raleway', sans-serif;
	background:linear-gradient(rgba(14,15,21,0.55), rgba(14,15,21,0.55)),url('../../assets/images/dj.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.1),
	0px 18px 23px rgba(0,0,0,0.1);
	/* position: fixed;*/
}

.reg{
	text-align: center;
	vertical-align: center;
}